button {
    padding: 0.7rem 2rem;
    background: #fc0a7e;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background: linear-gradient(135deg, #dd1173, #350e47);
    }
}